{% extends "base.html" %} {% block content %}

<!-- HTML inside <body> goes here -->


<div class="input_expense" id="subContainer">
    <form action="/update/{{ID}}" method="POST">
        <h2 class="sectionHeading">Update Expense #{{ID}}</h2>
        <div class="notification" style="background-color: white; color: red; border-radius: 8px; margin-right: 2rem">
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <div class="alert alert-warning alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> {{ message }}
            </div>
            {% endfor %} {% endif %} {% endwith %}
        </div>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <div id="radios">
            <input id="school" type="radio" name="category" value="School">
            <label class="radioLabel" for="school">School</label>
                       
            <input id="food" type="radio" name="category" value="Food" style="margin-left: 46px;">
            <label class="radioLabel" for="food">Food</label><br>

            <input id="groceries" type="radio" name="category" value="Groceries">
            <label class="radioLabel" for="groceries">Groceries</label>

            <input id="family" type="radio" name="category" value="Family" style="margin-left: 27px;">
            <label class="radioLabel" for="family">Family</label><br>

            <input id="business" type="radio" name="category" value="Business">
            <label class="radioLabel" for="business">Business</label>

            <input id="clothing" type="radio" name="category" value="Clothing" style="margin-left: 29px;">
            <label class="radioLabel" for="clothing">Clothing</label><br>

            <input id="electronics" type="radio" name="category" value="Electronics">
            <label class="radioLabel" for="electronics">Electronics</label>
                        
            <input id="health" type="radio" name="category" value="Health" style="margin-left: 16px;">
            <label class="radioLabel" for="health">Health</label><br>
                        
            <input id="subscription" type="radio" name="category" value="Subscription">
            <label class="radioLabel" for="subscription">Subscription</label>
                        
            <input id="transportation" type="radio" name="category" value="Transportation">
            <label class="radioLabel" for="transportation">Transportation</label><br>

        </div>
        <br>
        <input class="text-box" type="date" name="date" , value={{date}}><br> <br>
        <input class="text-box" name="amount" , value={{amount}}><br> <br>
        <button name="button"><i class="material-icons">add</i></button>
        <button id="cancelButton" name="button"><i class="material-icons">cancel</i></button>
    </form>
    <!-- <form action="http://localhost:5000" method="GET">
        <button id="cancelButton" name="button"><i class="material-icons">cancel</i></button>
    </form> -->
</div>

<script>
    document.getElementById("{{category}}").checked = true;
</script>


{% endblock %}
